
.button{
    border-color: goldenrod;
    border-top: solid;
}
.input{
    border-top: solid;
    border-bottom: solid;
    border-color: goldenrod;
    background-color: transparent;
}
.messages{
    border-top: solid;
    border-color: goldenrod;
    padding: 4px;
}