.container{
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}
.container div{
    width: 30vw;
    height: 22vh;
    }
