.container {
  width: 100vh;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-size: contain;
  cursor: url('/wallpers/sword.svg'),auto;
}

.marketplace {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25%;
  padding-top: 25%;
}
.townhall {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: top;
  padding-left: 20%;
  padding-top: 10%;
}
.cathedral {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 20%;
  padding-bottom: 20%;
  padding-top: 15%;
}
.inn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 30%;
  padding: 25%;
  padding-bottom: 20%;
}
.shop {
  width: 40%;
  height: 90%;
  position: absolute;
  left: 3%;
  top: 3%;
  /* background-color: burlywood;
    border: groove black; */
  background-image: url('/maps/town/parchment.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.closeButton {
  height: 30px;
  width: 30px;
  border-radius: 9999px;
  background-color: transparent;
  border: solid black;
  position: absolute;
  right: 3.5%;
  top: 7.5%;
  cursor: url('/wallpers/sword.svg'),auto;
}

.questList {
  width: 40%;
  height: 90%;
  position: absolute;
  left: 3%;
  top: 3%;
  background-image: url('/maps/town/parchment.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6%;
  padding-top: 10%;
  padding-bottom: 10%;
}
